/* html header.flex-container {
  margin-top: 100px;
  height: 400px;
  width: 100%;
} */



.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d68000;
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
}

.name {
  align-self: flex-start;
}

article.header {
  border: 10px;
}