nav {
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  height: 100px;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

.inner-content {
  float: left;
  font-family: 'Bungee', cursive;
}

.new-tweet-prompt {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (max-width: 767px) {
  nav {
    background-color: transparent;
    color: #666;
    position: absolute;
  }
}
