.nav-bar {
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  height: 120px;
  padding: 1.5em;
}

.inner-content {
  float: left;
  font-family: 'Bungee', cursive;
}

.new-tweet-prompt {
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}