/* New tweet */
.new-tweet {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-tweet h2 {
  font-weight: 900;
  padding-top: 20px;
}

.new-tweet label {
  margin: auto;
  font-weight: 700;
}

#tweet-text {
  display: flex;
  align-items: center;
  margin: 1;
  border: none;
  background: none;
  height: 35px;
  width: 100%;
  border-bottom: 4px solid #333;
}

#tweet-text:focus {
  outline: 0;
}

.red {
  color: red;
}

footer { 
  padding-top: 15px;
  padding-bottom: 15px;
}

footer div {
  display: inline-block;
  justify-items: space-between;
}

footer div.font-awesome {
  float: right;
  text-align: right;
  opacity: 0%;
}

/* Tweet button */
.tweet-button {
  color: white;
  background: #4056A1;
  border: 0;
  font-family: 'Bungee', sans-serif;
}

.tweet-button:hover {
  background: darkblue
}

.counter {
  font-family: 'Bungee', sans-serif;
}

/* Existing tweets: */
section.tweet-container {
  width: 100%;
}

article {
  border: 3px solid #333;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 3px;
  word-wrap: normal;
}

header.tweet {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.user-image {
  width: 30px;
  height: 30px;
}

header div.userID {
  color: transparent; 
}

footer.tweet {
  border-top: 3px solid #333;
  font-size: 50%
}

/* Hover effects */
article:hover {
  text-shadow: 2px 2px #CCC;
  box-shadow: 5px 10px #888;
}

article:hover > footer div.font-awesome {
  opacity: 100%;
}

/* Desktop styles */
@media only screen and (min-width: 768px) {
  html header.flex-container {
    padding-top: 10%;
    width: 40%;
    height: 5%;
  }

  main.container {
    width: 55%;
    padding-left: 5%;
  }
}

